.login__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo img {
    width: 30%;
    color: #0A66C2;  
}
.navbar__items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    cursor: pointer;
}
.navbar__items .navbar__option{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navbar__items div:hover{
    color: #0A66C2;
}
.btn__join button{
    padding: 10px 30px;
    margin: 5px;
    border-radius: 30px;
    font-size: 15px;
    border: 1px solid #0A66C2;
    color: #0A66C2;
    cursor: pointer;
}
.btn__sign button{
    border: none;
    padding: 10px 30px;
    margin: 5px;
    border-radius: 30px;
    font-size: 15px;
    background-color: #0A66C2;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.btn__sign button:hover{
    background-color:  #064e97;
}

.login__top{
    display: flex;
    justify-content: space-between;
   margin-top: 2%;
}
.top__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10% ;
    margin-top: 0%;

}
.top__left h1{
    font-size: 50px;
    font-weight: 200;
    color: rgb(103, 62, 62);
    margin-bottom: 10px;
}
.top__left form{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.top__left form input{
    outline: none;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid #0A66C2;
    border-radius: 10px;
}
.top__left form button{
    border: none;
    outline: none;
    background-color: #0A66C2;
    padding: 15px;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    cursor: pointer;

}
.top__google{
    margin-top:20px ;
}
.top__google button {
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: 1px solid #0A66C2; 
    font-size: 20px;
    color: #0A66C2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: transparent;
}

.top__google button img{
    width: 20px;
    padding-right: 15px;
}
.top__right{
   
}
.top__right img{
    width: 100%;
}

@media only screen and (max-width: 1024px) {
   .login__top{
    display: block;
    justify-content: center;
   }
   .top__right{
    display: flex;
    justify-content: center;
    align-items: center;

   }
   .top__right img{
    width: 50%;
   }
  }
@media only screen and (max-width: 500px) {
    .login__navbar{
        justify-content: center;
        align-items: center;
    }
    .navbar__items .navbar__option{
       display: none;
    }

    

  }
  