.app__body{
    display: flex;
    justify-content: space-between;
    padding: 0px 15%;
}
@media only screen and (max-width: 1024px) {
    .app__body{
        padding: 0px 2%;
    }
  }
  @media only screen and (max-width: 768px) {
    .app__body{
        display: block;
        justify-content: center;
        padding: 0px 10%;
    }
  }